<!DOCTYPE html>
<html>
<head>
    <title>Character Trial Manager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Trial Character Manager</h1>
<ul>
    {{#character.trialsParticipated}}
        <li> {{trial_id}} - {{game.name}} Chapter {{chapter}}</li>
    {{/character.trialsParticipated}}
</ul>
<form action="/startMenu/characters/details/{{character.idChar}}/trials/add" method="post">
    <table>
        <tr>
            <th><label for="trial_id">Trial ID:</label></th>
            <td><input type="text" id="trial_id" name="trial_id"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
<br>
<form action="/startMenu/characters/details/{{character.idChar}}/trials/remove" method="post" >
    <table>
        <tr>
            <th><label for="trial_id">Trial ID:</label></th>
            <td><input type="text" id="trial_id" name="trial_id"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Remove"></td>
        </tr>
    </table>
</form>
<br>
<button onclick="window.location.href='/startMenu/characters/details/{{character.idChar}}'">Back</button>
</body>
</html>