<!DOCTYPE html>
<html>
<head>
    <style>

    </style>
    <link rel="stylesheet" href="/css/errorStyle.css">
    <title>Error</title>
</head>
<body>
<h1>An error has occurred</h1>
<p><a href="/startMenu">Back</a> </p>
</body>
</html>