<!DOCTYPE html>
<html>
<head>
    <title>Videogames details</title>
</head>
<body>
    <h1>{{game.name}} details</h1>
    <p>Name: {{game.name}}</p>
    <p>Release year: {{game.releaseYear}}</p>
    <p>Duration: {{game.duration}}</p>
    <p><a href="/startMenu/games/update/{{game.id}}">Edit</a><a href="/startMenu/games/delete/{{game.id}}">Delete</a></p>
    <p><a href="/startMenu/games">Back</a> </p>
</body>
</html>