<!DOCTYPE html>
<html>
<head>
    <title>Crear Videojuego</title>
</head>
<body>
    <h1>Crear Videojuego</h1>
    <form action="/games/create" method="post">
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name"><br><br>
        <label for="releaseYear">Año de lanzamiento: </label>
        <input type="text" id="releaseYear" name="releaseYear"><br><br>
        <label for="duration">Duración: </label>
        <input type="text" id="duration" name="duration"><br><br>
        <input type="submit" value="Crear">
        <p><a href="/games">Volver</a> </p>
    </form>
</body>
</html>