<!DOCTYPE html>
<html>
<head>
    <title>Videogame edit</title>
    <script src="/validateForms.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>{{game.name}}</h1>
<form action="/startMenu/games/update/{{game.id}}" method="post" onsubmit="return validateGameForms()">
    <table>
        <tr>
            <th><label for="name">Name: </label></th>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <th><label for="releaseYear">Release year: </label> </th>
            <td><input type="text" id="releaseYear" name="releaseYear"> </td>
        </tr>
        <tr>
            <th><label for="duration">Duration: </label> </th>
            <td><input type="text" id="duration" name="duration"> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit"></td>
            <td><button onclick="window.location.href='/startMenu/games'">Cancel</button></td>
        </tr>
    </table>
</form>
</body>
</html>