<!DOCTYPE html>
<html>
<head>
    <title>Videogames list</title>
</head>
<body>
    <h1>Videogames list</h1>
    <ul>
        {{#games}}
            <li><a href="/startMenu/games/details/{{id}}">{{name}}</a><a href="/startMenu/games/update/{{id}}">Edit</a><a href="/startMenu/games/delete/{{id}}">Delete</a> </li>
        {{/games}}
    </ul>
    <p><a href="/startMenu/games/create">Create Videogame</a> </p>
    <p><a href="/startMenu">Back</a> </p>
</body>
</html>