<!DOCTYPE html>
<html>
<head>
    <title>Videogames list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Videogames list</h1>
    <table>
        <tr>
            <th>Game id</th>
            <th>Name</th>
        </tr>
        {{#games}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/startMenu/games/details/{{id}}">{{name}}</a></td>
            </tr>
        {{/games}}
        <tr>
            <td><button onclick="window.location.href='/startMenu/games/create'">Create Videogame</button></td>
            <td><button onclick="window.location.href='/startMenu'">Main menu</button></td>
        </tr>
    </table>
</body>
</html>