<!DOCTYPE html>
<html>
<head>
    <title>Videogames list</title>
</head>
<body>
    <h1>Videogames list</h1>
    <ul>
        {{#games}}
            <li><a href="/games/details/{{id}}">{{name}}</a><a href="/games/update/{{id}}">Edit</a><a href="/games/delete/{{id}}">Delete</a> </li>
        {{/games}}
    </ul>
    <p><a href="/games/create">Create Videogame</a> </p>
    <p><a href="/">Back</a> </p>
</body>
</html>