<!DOCTYPE html>
<html>
<head>
    <title>Videogames details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>{{game.name}} details</h1>
    <table>
        <tr>
            <th>Name:</th>
            <td colspan="2">{{game.name}}</td>
        </tr>
        <tr>
            <th><label for="decor">Release year:</label> </th>
            <td colspan="2">{{game.releaseYear}}</td>
        </tr>
        <tr>
            <th><label for="summary">Duration: </label> </th>
            <td colspan="2">{{game.duration}}</td>
        </tr>
        <tr>
            <td><button onclick="window.location.href='/startMenu/games/update/{{game.id}}'">Update</button></td>
            <td><button onclick="window.location.href='/startMenu/games/delete/{{game.id}}'">Delete</button></td>
            <td><button onclick="window.location.href='/startMenu/games'">Game menu</button></td>
        </tr>
    </table>
</body>
</html>