<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <h1>Main Menu</h1>
    <a href = "startMenu/characters">Characters in games</a><br><br>
    <a href = "startMenu/games">Check the games</a><br><br>
    <a href = "startMenu/trials">Check the trials</a>
</body>
</html>