<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title></title>
    <style>
        table{
            width: 15%;
        }
        td{
            height: 25px;
            background-color: #e8e8e8;
        }
    </style>
</head>
<body>
    <h1>Main Menu</h1>
    <table>
        <tr><td><a href = "startMenu/characters">Characters in games</a></td></tr>
        <tr><td><a href = "startMenu/games">Check the games</a></td></tr>
        <tr><td><a href = "startMenu/trials">Check the trials</a></td></tr>
    </table>
    <br><br>
    <br><br>

</body>
</html>