<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link rel="stylesheet" href = "/css/style.css">
</head>
<body>
    <h1>Characters in game</h1>
    <table>
        <tr>
            <th>Character ID</th>
            <th>Name & Surname</th>
        </tr>
        {{#characters}}
        <tr>
            <td>{{idChar}}</td>
            <td><a href="/startMenu/characters/details/{{idChar}}">{{name}} {{surname}}</a></td>
        </tr>
        {{/characters}}
        <tr>
            <td><button onclick="window.location.href='/startMenu/characters/create'">Create Character</button></td>
            <td><button onclick="window.location.href='/startMenu'">Main menu</button></td>
        </tr>
    </table>



</body>
</html>