<!DOCTYPE html>
<html>
<head>
    <title>Trial update</title>
    <script type= "text/javascript" src="/validateForms.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Trial update</h1>
<form name="trialUForm" action="/startMenu/trials/update/{{trial.trial_id}}" method="post" onsubmit="return validateTrialForms()">
    <table>
        <tr>
            <th><label for="chapter">Chapter:</label></th>
            <td><input type="text" id="chapter" name="chapter"></td>
        </tr>
        <tr>
            <th><label for="decor">Trial ground decor:</label> </th>
            <td><input type="text" id="decor" name="decor"> </td>
        </tr>
        <tr>
            <th><label for="summary">Trial summary: </label> </th>
            <td><textarea id="summary" name="summary" ></textarea><br><br> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit"></td>
            <td><button onclick="window.location.href='/startMenu/trials'">Cancel</button></td>
        </tr>
    </table>
    </form>
</body>
</html>
