<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trial list</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <table>
        <tr>
            <th>Trial id</th>
            <th>Summary</th>
        </tr>
        {{#ltrials}}
            <tr>
                <td>{{trial_id}}</td>
                <td><a href="/startMenu/trials/details/{{trial_id}}">{{summary}}</a></td>
            </tr>
        {{/ltrials}}
        <tr>
            <td><button onclick="window.location.href='/startMenu/trials/create'">Create Trial</button></td>
            <td><button onclick="window.location.href='/startMenu'">>Main menu</button></td>
        </tr>
    </table>
    <h1>Trials</h1>
</body>
</html>
