<!DOCTYPE html>
<html>
<head>
    <title>Trial creation</title>
</head>
<body>
    <h1>Trial creation</h1>
    <form name="trialCForm" action="/startMenu/trials/create" method="post" onsubmit="return validateTrialForms()">
        <label for="chapter">Chapter:</label>
        <input type="text" id="chapter" name="chapter"><br><br>
        <label for="decor">Trial ground decor:</label>
        <input type="text" id="decor" name="decor"><br><br>
        <label for="summary">Trial summary:</label>
        <textarea id="summary" name="summary"></textarea><br><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>